*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color:#fff;
}

.col-3{
	float:left;
	padding: 0 15px;
	width:calc((100% * 3) /12);
}

.col-9{
	float:left;
	padding: 0 15px;
	width:calc((100% * 9) /12);
}

.row{
	clear:both;
	display:table;
	width:100%;
}

.header{
	
	background-color:black;
}

ul{
	list-style:none;
	color:white;
}

a:link,
a:visited{
	text-decoration:none;
	margin:20px;
	display:inline-block;
	color:#fff;
	text-transform:capitalize;
}

a:hover,
a:focus{
	background-color:blue;
	color:#fff;
	transform:scale(1.07);
}

a:active{
	background-color:blue;
	border-radius:6px;
	padding: 0 12px;
}

nav ul{
	text-align:right;
	margin-top:10px;
}

nav ul li{
	display:inline-block;
	font-size:20px;
}

.pre-heading{
	font-size:30px;
	padding:20px;
	color:blue;
}

.para{
	margin:20px;
}
